.decomposition {
    width: 85%;
    margin:auto;
    
}
.columns {
    display: flex;
    justify-content: space-between;
    
}

.newsLine img{
    width: 15px;
    
}

 a {
    text-decoration: none;
    cursor:pointer;
}
.newsLine {
    margin-bottom: 5px;
}

ul {
    list-style: none;
}

.search {
    height: 40px;
    text-align: center;
}
.search input {
    height: 100%;
    width: 50%;
}

.search button {
    height: 100%;
    width: 10%;
}